<article>
	<h2>Enter Card Information</h2>

	<form action="" method="post" class="frmLogin" enctype="multipart/form-data">
		<div class="error-message"><?php if(isset($message)) { echo $message; } ?></div>
		<div class="field-group">
			<div><label for="name">Name</label></div>
			<div><input id="name" name="name" type="text" class="input-field" maxlength="100"></div>

			<div><label for="desc">Description</label></div>
			<div><input id="desc" name="desc" type="text" class="input-field" maxlength="1000"></div>

			<div><label for="attr">Attribute</label></div>
			<div><select id="attr" name="attr">
				<?php
					foreach ($attr as $row)
					{
				?>
					<option value="<?=$row['id']?>"><?=$row['name']?></option>
				<?php
					}
				?>
			</select></div>

			<div><label for="type">Type</label></div>
			<div><select id="type" name="type">
				<?php
					foreach ($type as $row)
					{
				?>
				<option value="<?=$row['id']?>"><?=$row['name']?></option>
				<?php
					}
				?>
			</select></div>

			<div><label for="lvl">Level</label></div>
			<div><input id="lvl" name="lvl" type="number" class="input-field" max="99999999999"></div>

			<div><label for="atk">Attack</label></div>
			<div><input id="atk" name="atk" type="number" class="input-field" max="99999999999"></div>

			<div><label for="def">Defense</label></div>
			<div><input id="def" name="def" type="number" class="input-field" max="99999999999"></div>

			<div><label for="pic">Picture</label></div>
			<div><input id="pic" name="pic" type="file" class="input-field"></div>
		</div>
		<div class="field-group">
			<div><input type="submit" name="addItem" value="Add Item" class="form-submit-button"></div>
		</div>
	</form>
</article>