<article>
	<h1>Welcome!</h1>

	<p>This is a dedicated Yu-Gi-Oh! card game exchange site.</p>
	<p>You can view available Cards under Items in the navbar. To trade or offer cards please LogIn.</p>
</article>