<article>
	<h2>Enter Username and Password</h2>

	<form action="" method="post" class="frmLogin">
		<div class="error-message"><?php if(isset($message)) { echo $message; } ?></div>
		<div class="field-group">
			<div><label for="login">Username</label></div>
			<div><input id="login" name="name" type="text" class="input-field" maxlength="25"></div>
		</div>
		<div class="field-group">
			<div><label for="password">Password</label></div>
			<div><input id="password" name="password" type="password" class="input-field" maxlength="24"></div>
		</div>
		<div class="field-group">
			<div><input type="submit" name="login" value="Login" class="form-submit-button"> or <a href="register.php">Register!</a>
			</div>
		</div>
	</form>
</article>