<article>
	<h2>Enter User Information</h2>

	<form action="" method="post" class="frmLogin">
		<div class="error-message"><?php if(isset($message)) { echo $message; } ?></div>
		<div class="field-group">
			<div><label for="name">Name</label></div>
			<div><input id="name" name="name" type="text" class="input-field" maxlength="25"></div>

			<div><label for="mail">E-Mail</label></div>
			<div><input id="mail" name="mail" type="email" class="input-field" maxlength="100"></div>

			<div><label for="dob">Date of Birth</label></div>
			<div><input id="dob" name="dob" type="date" class="input-field"></div>

			<div><label for="address">Address</label></div>
			<div><input id="address" name="address" type="text" class="input-field" maxlength="100"></div>

			<div><label for="postcode">PostCode</label></div>
			<div><input id="postcode" name="postcode" type="text" class="input-field" maxlength="10"></div>

			<div><label for="password">Password</label></div>
			<div><input id="password" name="password" type="password" class="input-field" maxlength="24"></div>

			<div><label for="repassword">Re-enter Password</label></div>
			<div><input id="repassword" name="repassword" type="password" class="input-field" maxlength="24"></div>
		</div>
		<div class="field-group">
			<div><input type="submit" name="register" value="Register" class="form-submit-button"></div>
		</div>
	</form>
</article>