body
{
	background-color: #FFFFFF;
	font-family:      Calibri, "Segoe Marker", Verdana, Arial, monospace;
}

ul
{
	list-style-type:  none;
	margin:           0;
	padding:          0;
	overflow:         hidden;
	background-color: #333;
}

li
{
	float:        left;
	border-right: 1px solid #BBB;
}

li:last-child
{
	border-left:  1px solid #BBB;
	border-right: none;
}

li a
{
	display:         block;
	color:           white;
	text-align:      center;
	padding:         14px 16px;
	text-decoration: none;
}

li a:hover
{
	background-color: #111;
}

#welcome
{
	float:        right;
	border-right: 1px solid #BBB
}

article
{
	padding-bottom: 50px;
	min-height:     100%;
}

table
{
	border-collapse: collapse;
	margin:          10px auto 0 auto;
}

td, th
{
	/*border: 1px solid #bbb;*/
	padding: 8px;
}

th
{
	padding-top:      12px;
	padding-bottom:   12px;
	text-align:       left;
	background-color: #333;
	color:            white;
}

#myitems
{
	width:  484px;
	margin: 0 auto;
}

.tblmyitems
{
	float:        left;
	margin:       10px 10px 50px 10px;
	width:        222px;
	table-layout: fixed;
}

.tblmyitems td
{
	word-wrap: break-word;
}

.centered
{
	text-align: center;
}

.card
{
	width:  200px;
	height: 292px;
}

.frmLogin
{
	padding:      20px 60px;
	background:   #BBB;
	display:      block;
	width:        218px;
	margin-left:  auto;
	margin-right: auto;
}

.field-group
{
	margin: 15px 0;
}

.input-field
{
	padding:       8px;
	width:         200px;
	border:        black 1px solid;
	margin-bottom: 8px;
}

.form-submit-button
{
	background:     #333;
	border:         0;
	padding:        8px 20px;
	color:          white;
	text-transform: uppercase;
}

.error-message
{
	text-align: center;
	color:      #FF0000;
}

label
{
	display: inline-block;
}

#frmWant
{
	text-align: center;
}

footer
{
	position:         fixed;
	right:            0;
	bottom:           0;
	left:             0;
	padding:          16px;
	background-color: #EFEFEF;
	text-align:       center;
	z-index:          -1;
}